.dual-listbox {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.dual-listbox .dual-listbox__container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.dual-listbox .dual-listbox__search {
	border: 1px solid #ddd;
	padding: 10px;
	max-width: 300px
}

.dual-listbox .dual-listbox__available,
.dual-listbox .dual-listbox__selected {
	border: 1px solid #ddd;
	height: 300px;
	overflow-y: auto;
	padding: 0;
	width: 300px;
	margin-top: 0;
	-webkit-margin-before: 0
}

.dual-listbox .dual-listbox__buttons {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 10px
}

.dual-listbox .dual-listbox__button {
	margin-bottom: 5px;
	border: 0;
	background-color: #fb9678;
	padding: 10px;
	color: #fff
}

.dual-listbox .dual-listbox__button:hover {
	background-color: #ddd
}

.dual-listbox .dual-listbox__title {
	padding: 15px 10px;
	font-size: 120%;
	font-weight: 700;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-top: 1px solid #efefef;
	margin-top: 1rem;
	-webkit-margin-before: 1rem
}

.dual-listbox .dual-listbox__item {
	display: block;
	padding: 10px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	border-bottom: 1px solid #efefef;
	transition: background .2s ease
}

.dual-listbox .dual-listbox__item.dual-listbox__item--selected {
	background-color: rgba(8, 157, 227, .7)
}